.body{
    font-size: 62.5%;
}
header{
    position: fixed;
    background-color: #5fc0cd;
    width:100%;
    height:2.5em;
    text-align: center;
    line-height: 2.5em;
    color: white;
    font-size:2em;
    font-family: 宋体;
    top:0;
    z-index: 10;
    left:0;
}
.arrow{float:left;
    padding-left: 1em;
    padding-top: 0.4em;
}
.icon{
    position: absolute;
    height: 12em;
    width: 100%;
    /*padding-top:1.2em;*/
    margin-top:4.4em;
    left:0;
    right:0;
    background: url("../image/task5/docbackground.png") no-repeat;
    background-size: cover;
    color: white;
    /*font-size: 2.5em;*/
    font-family: 宋体;
}

.iconimg img {
    position: absolute;
    width: 20%; height: 50%;
    left: 5%; top: 20%;
}
.line1{
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 1.5em;
}
.line2 {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 1em;
    font-family: 宋体;
}
.line3{margin-left:1em }

.profession{
    font-family: 宋体;
    font-size: 1em;
    font-weight: bold;
    padding-left: 0.5em;
}
.vertiallinesp{
    color: #5fc0cd;
    font-size: 1em}

.blank1{
    width:100%;
    height: 0.01em;
    border-bottom-color:#e1e5e7;
    border-bottom-style: solid;
    border-width: 0.1em;
    margin-top: 1em}
.blank2{
    width:100%;
    height: 0.01em;
    border-bottom-color:#e1e5e7;
    border-bottom-style: solid;
    margin-left: 1em;
    margin-top:1em;
    border-width: 0.1em}
.startext1{
    font-size: 1.2em;
    margin-left: 0.5em;
}
.star1 img{
    display: inline-block;
    width: 1em;
}
.boxstar{
    margin-left: 2em;
    margin-top: 1em}
.year{
    display: flex;
    font-size: 1em;
    color:#e1e5e7;
    margin-left: 1em;
    margin-top: 1em;
    align-items: center;

}
.time {
    display: flex;
    font-size: 1em;
    color:#e1e5e7;
    margin-left: 1em;
    margin-top: 1em;
    align-items: center;
}
.price {
    display: flex;
    font-size: 1em;
    color:#e1e5e7;
    margin-left: 1em;
    margin-top: 1em;
    align-items: center;
}
.year1{
    text-align: center;
    font-size: 1em;
    width:6em;
    float: left;
    vertical-align: middle;
    border-right: 0.01em solid #ccc;
padding-right: 1em}
.time1{text-align: center;
    font-size: 1em;
    width:6em;
    float: left;
    vertical-align: middle;
    border-right: 0.01em solid #ccc;
    padding-right: 1em}
.price1{text-align: center;
    font-size: 1em;
    width:6em;
    float: left;
    vertical-align: middle;
    border-right: 0.01em solid #ccc;
    padding-right: 1em}

.self-introduce {
    display: flex;
    font-size: 1em;
    color: #e1e5e7;
    margin-top: 25px;
    align-items: center;
    margin-left: 1em;

}
.self-1{
    text-align: center;
    font-size: 1em;
    width:6em;
    float: left;
    vertical-align: middle;
    border-right: 0.01em solid #ccc;
    padding-right: 1em


}
.pricecontent{margin-left: 1em;}
.yearcontent{margin-left: 1em;}
.selfcontent{
    width: 70%;
    overflow: hidden;
    color: black;
    font-size: 1em;
    margin-left: 1em;

   }

.yearcontent{color: black}
.pricecontent{color: red}
.button1{
    height: 2em;
    width: 40%;
    background-color: white;
    text-align:center;
    font-size: 1.5em;
    border: #5fc0cd;
    border-width: 0.05em;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 0;
    margin-top: 3em;
    color: #5fc0cd;
    margin-left:8% ;
    position:absolute;
}
.button2{
    height: 2em;
    width: 40%;
    background-color: white;
    text-align:center;
    font-size:1.5em;
    border: #5fc0cd;
    border-width: 0.05em;
    border-style: solid;
    border-radius: 10px;
    position:absolute;
    margin-top: 3em;
    color: #5fc0cd;
    /*float: right;*/
   margin-left: 52%;

}
.button1:hover{
    cursor: pointer;
    background-color:#5fc0cd;
    color: white;
}
.button2:hover{
    cursor: pointer;
    background-color:#5fc0cd;
    color: white;
}

.form {
    width: 100%;
    float: left;
    margin-top: 18em;

}



